footer.footer
    .carouselSlide.carouselSlide-section.carouselSlide-footer
        .container
            .row
                .logoBlock.col-lg-4.block-left
                    .mainLogo.mainLogo-margin
                        a(href='#').mainLogo__link Tajam
                    .logoBlock__text
                        p.logoBlock__paragraph lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh elit. Duis sed odio sit amet auctror a ornare odio non mauris vitae erat in elit
                    .logoBlock__links
                        a(href='#').logoBlock__link Help
                        a(href='#').logoBlock__link Terms & Condition
                        a(href='#').logoBlock__link Privacy
                .contacts.col-lg-4.block-left
                    .footerHeader
                        h2.footerHeader__header Our Studio
                    .contacts__text
                        p.contacts__paragraph Ruko cucruk, Jl. Radio luar dalem jos No.12 - 13, Kalideres - Jakarta Barat 11480 - Indonesia
                    .contacts__phone
                        a(href='tel:+622122243333').contacts__number (+62) 21-2224 3333
                .socialLinks.block-left.col-lg-4
                    .footerHeader
                        h2.footerHeader__header Stay In Touch
                    .mainButton.mainButton-margin
                        a(href='#').mainButton__link.mainButton__link-grey Subscribe our newsletter
                        a(href='#').mainButton__link.mainButton__link-news
                    .socialLinks
                        .socialLinks__item
                            a(href='#').socialLinks__link.socialLinks__link-facebook
                        .socialLinks__item
                            a(href='#').socialLinks__link.socialLinks__link-twitter
                        .socialLinks__item
                            a(href='#').socialLinks__link.socialLinks__link-dribble
                        .socialLinks__item
                            a(href='#').socialLinks__link.socialLinks__link-instagram
                        .socialLinks__item
                            a(href='#').socialLinks__link.socialLinks__link-google
                        .socialLinks__item
                            a(href='#').socialLinks__link.socialLinks__link-youtube
                    .copyrights
                        p.copyrights__text Copyright © 2015 - Tajem Creative