header
    nav.headerNavigation
        .container
            .row
                .mainLogo.col-lg-2.col-md-3
                    a(href='#').mainLogo__link Tajam
                .menu.col-lg-7.offset-lg-3.col-md-9.offset-md-0
                    ul.menu__list
                        li.menu__item
                            a(href='#').menu__link Home
                        li.menu__item
                            a(href='#').menu__link About
                        li.menu__item
                            a(href='#').menu__link Expertise
                        li.menu__item
                            a(href='#').menu__link Teams
                        li.menu__item
                            a(href='#').menu__link Works
                        li.menu__item
                            a(href='#').menu__link People Say
                        li.menu__item
                            a(href='#').menu__link Contacts
                .menuButton.col-md-2
                    span.menuButton__line
                    span.menuButton__line
                    span.menuButton__line
    .headerCarousel.owl-carousel
        .carouselSlide
            .container
                .carouselSlide__mainText
                    h2.carouselSlide__header We Are Awesome Creative Agency
                    p.carouselSlide__paragraph.col-lg-10.offset-lg-1 This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                .mainButton
                    a(href='#').mainButton__link learn more
        .carouselSlide
            .container
                .carouselSlide__mainText
                    h2.carouselSlide__header We Are Awesome Creative Agency
                    p.carouselSlide__paragraph.col-lg-10.offset-lg-1 This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                .mainButton
                    a(href='#').mainButton__link learn more
        .carouselSlide
            .container
                .carouselSlide__mainText
                    h2.carouselSlide__header We Are Awesome Creative Agency
                    p.carouselSlide__paragraph.col-lg-10.offset-lg-1 This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                .mainButton
                    a(href='#').mainButton__link learn more
        .carouselSlide
            .container
                .carouselSlide__mainText
                    h2.carouselSlide__header We Are Awesome Creative Agency
                    p.carouselSlide__paragraph.col-lg-10.offset-lg-1 This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                .mainButton
                    a(href='#').mainButton__link learn more

