extends ../layout/main
block variables
    - var title = 'Tajam'
block content
    section.section.sectionOurStory
        .container
            .row
                .storyImage.col-lg-3.offset-lg-1
                    .storyImage__img
                .storyText.col-lg-7.offset-lg-1
                    h2.storyText__header OUR STORY
                    p.storyText__paragraph This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus
                    p.storyText__paragraph Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            .mainButton.mainButton-left
                a(href='#').mainButton__link learn more
