extends ../layout/main
block variables
    - var title = 'Tajam'
block content
    section.section.sectionOurStory
        .container
            .row
                .storyImage.col-lg-3.offset-lg-1
                    .storyImage__img
                .storyText.col-lg-7.offset-lg-1
                    h2.storyText__header OUR STORY
                    p.storyText__paragraph This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus
                    p.storyText__paragraph Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            .mainButton.mainButton-left
                a(href='#').mainButton__link learn more
    section.section.sectionExpertise.section-noPadding
        .carouselSlide.carouselSlide-section
            .container
                .sectionHeader
                    h2.sectionHeader__header EXPERTISE
                    p.sectionHeader__text Lorem ipsum dolor sit amet proin gravida nibh vel velit
                .skillsItems
                    .row
                        .skillItem.col-lg-4.col-md-6
                            .skillItem__image.skillItem__image-web
                            h3.skillItem__header WEB DESIGN & DEVELOPMENT
                            p.skillItem__text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
                        .skillItem.col-lg-4.col-md-6
                            .skillItem__image.skillItem__image-branding
                            h3.skillItem__header WEB DESIGN & DEVELOPMENT
                            p.skillItem__text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
                        .skillItem.col-lg-4.col-md-6.offset-md-3.offset-lg-0
                            .skillItem__image.skillItem__image-mobile
                            h3.skillItem__header WEB DESIGN & DEVELOPMENT
                            p.skillItem__text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
                    .divideItems
                    .row
                        .skillItem.col-lg-4.col-md-6
                            .skillItem__image.skillItem__image-search
                            h3.skillItem__header WEB DESIGN & DEVELOPMENT
                            p.skillItem__text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
                        .skillItem.col-lg-4.col-md-6
                            .skillItem__image.skillItem__image-game
                            h3.skillItem__header WEB DESIGN & DEVELOPMENT
                            p.skillItem__text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
                        .skillItem.col-lg-4.col-md-6.offset-md-3.offset-lg-0
                            .skillItem__image.skillItem__image-love
                            h3.skillItem__header WEB DESIGN & DEVELOPMENT
                            p.skillItem__text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.


