extends ../layout/main
block variables
    - var title = 'Tajam'
block content
    section.section.sectionOurStory
        .container
            .row
                .storyImage.col-lg-3.offset-lg-1
                    .storyImage__img(id='imageTriangle')
                .storyText.col-lg-7.offset-lg-1(id='storyText')
                    h2.storyText__header OUR STORY
                    p.storyText__paragraph This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus
                    p.storyText__paragraph Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            .mainButton
                a(href='#').mainButton__link learn more
    section.section.sectionExpertise.section-noPadding
        .carouselSlide.carouselSlide-section
            .container
                .sectionHeader
                    h2.sectionHeader__header EXPERTISE
                    p.sectionHeader__text Lorem ipsum dolor sit amet proin gravida nibh vel velit
                .items
                    .row
                        .item.col-lg-4.col-md-6
                            .item__image.item__image-web
                            h3.item__header WEB DESIGN & DEVELOPMENT
                            p.item__text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
                        .item.col-lg-4.col-md-6
                            .item__image.item__image-branding
                            h3.item__header WEB DESIGN & DEVELOPMENT
                            p.item__text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
                        .item.col-lg-4.col-md-6.offset-md-3.offset-lg-0
                            .item__image.item__image-mobile
                            h3.item__header WEB DESIGN & DEVELOPMENT
                            p.item__text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
                    .divideItems
                    .row
                        .item.col-lg-4.col-md-6
                            .item__image.item__image-search
                            h3.item__header WEB DESIGN & DEVELOPMENT
                            p.item__text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
                        .item.col-lg-4.col-md-6
                            .item__image.item__image-game
                            h3.item__header WEB DESIGN & DEVELOPMENT
                            p.item__text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
                        .item.col-lg-4.col-md-6.offset-md-3.offset-lg-0
                            .item__image.item__image-love
                            h3.item__header WEB DESIGN & DEVELOPMENT
                            p.item__text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
    section.section.sectionTeam
        .container
            .sectionHeader.sectionHeader-black
                h2.sectionHeader__header MEET OUR AMAZING TEAM
                p.sectionHeader__text Lorem ipsum dolor sit amet proin gravida nibh vel velit
            .items.items-black
                .row
                    .item.col-lg-3.col-md-6
                        .item__image.item__image-dog
                        h3.item__header SEMF UCUK
                        p.item__text CEO & FOUNDER
                        .divideItems
                    .item.col-lg-3.col-md-6
                        .item__image.item__image-dog
                        h3.item__header DIK ADALIN
                        p.item__text ENGINEERING
                        .divideItems
                    .item.col-lg-3.col-md-6
                        .item__image.item__image-dog
                        h3.item__header JENG KOL
                        p.item__text DESIGNER
                        .divideItems
                    .item.col-lg-3.col-md-6
                        .item__image.item__image-dog
                        h3.item__header PET ROMAK
                        p.item__text MARKETING
                        .divideItems
            p.text Become part of our dream team, let’s join us !
            .mainButton
                a(href='#').mainButton__link we are hiring
    section.section.sectionVideo.section-noPadding
        .carouselSlide.carouselSlide-video
            .container
                .videoControls
                    .videoButton
                        button.videoButton__play
                span.vieotext Watch Out Story
    section.section.sectionWorks
        .sectionHeader
            .container
                h2.sectionHeader__header.sectionHeader__header-black Our Works
                .dribbleLink
                    a(href='#').dribbleLink__link See All Project in dribbble
        .works
            .works__item
                img(src='static/img/animal.jpg')
            .works__item
                img(src='static/img/animal.jpg')
            .works__item
                img(src='static/img/animal.jpg')
            .works__item
                img(src='static/img/animal.jpg')
            .works__item
                img(src='static/img/animal.jpg')
            .works__item
                img(src='static/img/animal.jpg')
            .works__item
                img(src='static/img/animal.jpg')
            .works__item
                img(src='static/img/animal.jpg')
            .works__item
                img(src='static/img/animal.jpg')
            .works__item
                img(src='static/img/animal.jpg')
            .works__item
                img(src='static/img/animal.jpg')
            .works__item
                img(src='static/img/animal.jpg')
        .container
            .mainButton
                a(href='#').mainButton__link learn more
    section.section.section-noPadding
        .headerCarousel.owl-carousel.headerCarousel-dots
            .carouselSlide.carouselSlide-comment
                .container
                    .carouselSlide__mainText
                        h2.carouselSlide__header.carouselSlide__header-qoute “
                        p.carouselSlide__paragraph.col-lg-10.offset-lg-1 This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
                        .item
                            h3.item__header SEMF UCUK
                            p.item__text CEO & FOUNDER
            .carouselSlide.carouselSlide-comment
                .container
                    .carouselSlide__mainText
                        h2.carouselSlide__header.carouselSlide__header-qoute “
                        p.carouselSlide__paragraph.col-lg-10.offset-lg-1 This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
                        .item
                            h3.item__header DIK ADALIN
                            p.item__text ENGINEERING
            .carouselSlide.carouselSlide-comment
                .container
                    .carouselSlide__mainText
                        h2.carouselSlide__header.carouselSlide__header-qoute “
                        p.carouselSlide__paragraph.col-lg-10.offset-lg-1 This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
                        .item
                            h3.item__header JENG KOL
                            p.item__text DESIGNER
            .carouselSlide.carouselSlide-comment
                .container
                    .carouselSlide__mainText
                        h2.carouselSlide__header.carouselSlide__header-qoute “
                        p.carouselSlide__paragraph.col-lg-10.offset-lg-1 This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
                        .item
                            h3.item__header PET ROMAK
                            p.item__text MARKETING
    section.section.sectionForm
        .container
            .row
                .formWrapper.col-lg-6(id='form')
                    .sectionHeader
                        h2.sectionHeader__header.sectionHeader__header-black.sectionHeader__header-left Give Us Good News
                    form.form
                        input(placeholder='Name').form__input
                        input(placeholder='Email').form__input
                        input(placeholder='Subject').form__input
                        textarea(placeholder='Your message').form__area
                        .mainButton.mainButton-left
                            a(href='#').mainButton__link Submit
                .clients.col-lg-5.offset-lg-1(id='client')
                    .sectionHeader
                        h2.sectionHeader__header.sectionHeader__header-black.sectionHeader__header-left Our Happy Clients
                    .clientItems
                        .row
                            .clientItem.col-lg-5.clientItem-margin.col-md-6
                                img(src='static/img/zara.png')
                            .clientItem.col-lg-5.offset-lg-2.clientItem-margin.col-md-6.offset-md-0
                                img(src='static/img/mango.png')
                        .row
                            .clientItem.col-lg-5.clientItem-margin.col-md-6
                                img(src='static/img/barneys.png')
                            .clientItem.col-lg-5.offset-lg-2.clientItem-margin.col-md-6
                                img(src='static/img/gucci.png')
                        .row
                            .clientItem.col-lg-5.clientItem-margin.col-md-6
                                img(src='static/img/calvin.png')
                            .clientItem.col-lg-5.offset-lg-2.clientItem-margin.col-md-6
                                img(src='static/img/nike.png')
                        .row
                            .clientItem.col-lg-5.clientItem-margin.col-md-6
                                img(src='static/img/converse.png')
                            .clientItem.col-lg-5.offset-lg-2.clientItem-margin.col-md-6
                                img(src='static/img/puma.png')
                        .row
                            .clientItem.col-lg-5.col-md-6
                                img(src='static/img/levis.png')
                            .clientItem.col-lg-5.offset-lg-2.col-md-6
                                img(src='static/img/billabong.png')



