.mainButton
  &__link
    text-transform: uppercase
    font-family: $headerText
    color: $mainColor
    padding: 12px 15px
    border: 1px solid $mainColor
    transition: all .4s ease
    &:hover
      text-decoration: none
      color: #fff
      background-color: $mainColor