.mainButton
  &__link
    text-transform: uppercase
    font-family: $headerText
    color: $mainColor
    padding: 12px 15px
    border: 1px solid $mainColor
    transition: all .4s ease
    vertical-align: middle
    &:hover
      text-decoration: none
      color: #fff
      background-color: $mainColor
    &-news
      display: inline-block
      padding: 21px 30px
      border: none
      background: #a099b3 url("../img/news_button.png") no-repeat center center
    &-grey
        font-size: 14px
        border: 1px solid #a099b3
        text-transform: none
        color: #a099b3
        margin-right: 15px
  &-margin
    margin-bottom: 25px
  &-left
    text-align: left
.videoButton
  border: 3px solid #fff
  border-radius: 50%
  width: 100px
  height: 100px
  position: relative
  &__play
    width: 37px
    height: 45px
    background: url("../img/play.png")
    border: none
    position: absolute
    left: 55%
    top: 50%
    transform: translate(-50%, -50%)